.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 6px;
	border-top: 1px #ccc solid;
	background-color: #fff;
}