.v-inline-player__preview-tip {
  display: none !important;
}
.v-inline-player__preview-tip-text {
  display: none !important;
}
#media-preview {
  display: none !important;
}
body {
  overflow: auto !important;
}