.bili-dyn-live-users {
  max-height: calc(100vh - 276px);
  overflow-y: overlay;
}

.bili-dyn-live-users::-webkit-scrollbar {
  width: 10px; /*滚动条的宽度*/
  height: 8px; /*滚动条的高度*/
  opacity: 0;
}

.bili-dyn-live-users::-webkit-scrollbar-track-piece {
  background-color: #fff; /*滚动条的背景颜色*/
  -webkit-border-radius: 0; /*滚动条的圆角宽度*/
  border-radius: 0;
  opacity: 0;
}

.bili-dyn-live-users::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #ccc;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  outline: 2px solid #fff;
  outline-offset: -2px;
  border: 2px solid #fff;
  display: none;
}
.bili-dyn-live-users::-webkit-scrollbar-thumb:hover {
  background-color: #9f9f9f;
}

.bili-dyn-live-users:hover::-webkit-scrollbar-thumb {
  display: block;

}

.bili-dyn-live-users::-webkit-scrollbar-track {
  display: none;
}

.bili-dyn-live-users::-webkit-scrollbar-track-piece {
  display: none;
}