.tun-vip-icon {
  display: block;
  width: 20px;
  height: 20px;
  background-size: 20px;
  background-image: url(https://i0.hdslb.com/bfs/vip/icon_Certification_big_member_22_3x.png@40w_40h_1c.webp);
}
