@import url(../contents-components/popup-title/popup-title.scss);

#plasmo-shadow-container {
  z-index: 99999 !important;
}

.tun-popup-main {
	width: 300px;
	min-height: 500px;
	background-color: white;
	.ant-descriptions-header {
		margin-bottom: 8px;
	}
}

.tun-tool-main {
	box-sizing: border-box;
	width: 36px;
	height: 36px;
	position: fixed;
	right: 100px;
	top: 100px;
	z-index: 999;
	color: #000;
	.icon-main {
		width: 36px;
		height: 36px;
		background-color: #fb7299;
		transition: transform 300ms ease 0s;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
		cursor: pointer;
		&:active {
			transform: scale(0.9);
		}
		&:hover .icon{
			transform: scale(1.1);
		}
		.icon {
			width: 22px;
  		height: 22px;
			color: white;
			font-size: 22px;
			transition: transform 300ms ease 0s;
		}
	}
	.ant-form-item {
		margin: 4px !important;
		border-radius: 8px;
		transition: box-shadow 0.3s, border 0.3s;
	}
	.ant-form-item:hover {
		box-shadow: rgb(9 30 66 / 25%) 0px 4px 8px -2px, rgb(9 30 66 / 8%) 0px 0px 0px 1px;
	}
	.leftTop {
		right: 40px;
		top: 0;
	}
	.rightTop {
		left: 40px;
		top: 0;
	}
	.leftBottom {
		right: 40px;
		bottom: -40px;
	}
	.rightBottom {
		left: 40px;
		bottom: -40px;
	}
	.popup-content {
		transition: opacity 0.2s,visibility 0.2s;
		box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d;
	}
	.popup-content-show {
		opacity: 1;
		visibility: visible;
	}
	.popup-content-hide {
		pointer-events: none;
		opacity: 0;
		visibility: hidden;
	}
}

.tun-vip-icon {
	position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  top: 2px;
  left: 2px;
  background-size: 20px;
  background-image: url(https://i0.hdslb.com/bfs/vip/icon_Certification_big_member_22_3x.png@40w_40h_1c.webp);
  z-index: 10;
}

.ant-popover-inner {
	border-radius: 10px !important;
}

.anticon {
  display: inline-block;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.anticon > * {
  line-height: 1;
}

.anticon svg {
  display: inline-block;
}

.anticon::before {
  display: none;
}

.anticon .anticon-icon {
  display: block;
}

.anticon[tabindex] {
  cursor: pointer;
}

.anticon-spin::before,
.anticon-spin {
  display: inline-block;
  -webkit-animation: loadingCircle 1s infinite linear;
  animation: loadingCircle 1s infinite linear;
}

@-webkit-keyframes loadingCircle {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loadingCircle {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.anticon {
  display: inline-flex;
  align-items: center;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.anticon > * {
  line-height: 1;
}
.anticon svg {
  display: inline-block;
}
.anticon .anticon-icon {
  display: block;
}
