@import url(../contents-components/DownloadVideoModal/DownloadVideoModal.scss);
@import url(../contents-components/PopupTitle/PopupTitle.scss);

#plasmo-shadow-container {
  z-index: 99999 !important;
}

.tun-popup-main {
	width: 300px;
	height: 500px;
	background-color: white;
	.ant-descriptions-header {
		margin-bottom: 8px;
	}
}

.tun-tool-main {
	box-sizing: border-box;
	width: 36px;
	height: 36px;
	position: fixed;
	right: 100px;
	top: 100px;
	z-index: 999;
	.icon-main {
		width: 36px;
		height: 36px;
		background-color: #fb7299;
		transition: transform 300ms ease 0s;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
		cursor: pointer;
		&:active {
			transform: scale(0.9);
		}
		&:hover .icon{
			transform: scale(1.1);
		}
		.icon {
			color: white;
			font-size: 22px;
			transition: transform 300ms ease 0s;
		}
	}
	.leftTop {
		right: 40px;
		top: 0;
	}
	.rightTop {
		left: 40px;
		top: 0;
	}
	.leftBottom {
		right: 40px;
		bottom: -40px;
	}
	.rightBottom {
		left: 40px;
		bottom: -40px;
	}
	.popup-content {
		transition: opacity 0.2s,visibility 0.2s;
		box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d;
	}
}

.ant-popover-inner {
	border-radius: 10px !important;
}
